/* custom */
a {
  color: black;
  text-decoration: none;
  backface-visibility: hidden;
}

:root {
  /* 主题颜色 */
  --primary-color: #3cb490;
  --van-tabbar-item-icon-size: 30px !important;
}

body {
  font-size: 14px;
}